{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>
        {% block title %}{% endblock title %}
    </title>
</head>
<body>
    {% block content %}{% endblock content %}
    <footer>
        {% if user.is_authenticated %}
        <div style="margin: 0px 0px -10px 0px;">Made with love and gratitude by YA BOI</div>
        <div class="logout-button">
            <a href="{% url 'user_logout'%}">Logout</a>
        </div>
        {% else %}
        Made with love and gratitude by YA BOI  
        {% endif %}
    </footer>
</body>
</html>

